

.card {
    background-color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
}

.card:hover {
    background-color: #4f4f4f;
}

.cityName {
    margin: 0;
}

.cityCountry {
    margin: 0;
}

.heart {
    position: absolute;
    top: 10px;
    left: 10px;
}

.heartSpecial {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ff8383;
}

.heart:hover {
    color: #ff8383;
}

.heartSpecial:hover {
    color: revert;
}

.xmark {
    position: absolute;
    top: 10px; /* Adjust the top position */
    right: 10px;
    display: none;
}

.xmarkSpecial {
    display: none;
}

.xmark:hover {
    color: #363636;
}

.card:hover .xmark {
    display: block;
}



